body{
    font-family: $poppins-font;
    font-size: $size-mobile;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
.text-justify{
    text-align: justify;
}
h2{
    padding: 0;
    margin: 0;
}