footer{
    margin-top: 70px;
    margin-bottom: 50px;

}
.block-footer{
    border: 2px solid $default;
    padding: 15px 0;
    background-color: rgba($color: $secondary, $alpha: 0.25);

}
.formulaire{
    margin-top: 50px;
    padding-left: 50px;
    
    
}
.block-text{
    width: 200px;
    
}
.icon-contact{
    font-size: 20px;
}