$white: #ffffff;
$black: #000000;
$default: #FA9C28;
$secondary: #6C87A0;
$grey: rgba($black,0.34);
$grey-100: rgba(#B8C9CD,0.25);
$blue:    #48aec4;
$indigo:  #4c5680;
$purple:  #8965e0;
$pink:    #C96480;
$red:     #FA5252;
$orange:  #FF9F89;
$brown:   #b9a084;
$yellow:  #f5b759;
$yellow-alt:#fde9ca;
$green:   #05A677;
$teal:    #1E90FF;
$cyan:    #63b1bd;
$soft-indigo:#f5e8ff;
$soft-green: #2CA58D;

//fonts 
$poppins-font: 'Poppins', sans-serif;
$size-mobile: 12px;
$bg: '/assets/img/bg.jpg';
$profile: '/assets/img/profil2.jpg';