.skills{
    display: flex;
    flex-wrap: wrap;
    


    &--container{
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
        @include tablet{
            width: 60px;
            height: 60px;

        }
        

        

    }
   

    &--item{
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        margin-top: 15px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-right: 8px;


       
    
        
        img{
            width: 100%;
            height: 100%;
            border-radius:100%;
        }

    }
    &--bg{
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 110%;
        height: 110%;
        opacity: 0;
        transition: opacity ease-in-out 0.5s;
        &:hover{
            opacity: 1;

        }


    }
   

}
.btn{
   
  


}
.btn-primary{
    background-color: $default;
    border: 1px solid $default;
    &:hover{

    }
}
.icon-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    @include tablet{
        display: block;

    }
    .icon-container{
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-right: 20px;
    }

    .icon{
        font-size: 30px;
        border: 2px solid $default;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: all 35ms ease-in-out;
        
        &.linkedin:hover{
            color: $white;
            border-color: #0077b5;
            background: #0077b5;

        }
        &.github:hover{
            color: $white;
            border-color: #6e5494;
            background: #6e5494


        }
        &.envelope:hover{
            color: $white;
            border-color: #f5bf5d;
            background: #f5bf5d;


        }
        &.phone:hover{
            color: $white;
            border-color: #25d366;
            background: #25d366;


        }
        
    }
   
   
    
}